<body  style="background-color: rgba(163, 163, 163, 0.486);">
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title style="text-decoration: underline;"> <strong>Agregar Curso Docente</strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="No docente" formControlName="id_docente">
              <mat-error *ngIf="addressForm.controls['id_docente'].hasError('required')">
                Información <strong style="color: red;">Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input type="number" matInput placeholder="No curso" formControlName="id_curso">
              <mat-error *ngIf="addressForm.controls['id_curso'].hasError('required')">
                Información <strong style="color: red;">Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="datetime-local" matInput placeholder="Fecha de Inicio" formControlName="fecha_inicio">
              <mat-error *ngIf="addressForm.controls['fecha_inicio'].hasError('required')">
                Información <strong style="color: red;">Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input type="datetime-local" matInput placeholder="FEcha Fin" formControlName="fecha_fin">
              <mat-error *ngIf="addressForm.controls['fecha_fin'].hasError('required')">
                Información <strong style="color: red;">Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
  
          <div class="col">
            <mat-form-field class="full-width">
              <textarea  matInput placeholder="Estado" formControlName="status"></textarea>
              <mat-error *ngIf="addressForm.controls['status'].hasError('required')">
                Información <strong style="color: red;">Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Enviar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</body>