<body  style="background-color: rgba(163, 163, 163, 0.486);">
<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title style="text-decoration: underline;"> <strong> Agregar más Cursos </strong></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Nombre" formControlName="nombre">
              <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
                Información <strong style="color: red;">Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input type="text" matInput placeholder="Descripción" formControlName="descripcion">
              <mat-error *ngIf="addressForm.controls['descripcion'].hasError('required')">
                Información <strong style="color: red;">Requerida</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
  
  
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Enviar</button>
      </mat-card-actions>
    </mat-card>
  </form>
</body>